<div class="container cabecera">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            
          <span class="app-name" (click)="goToHome()">PRUEBA MERCADER</span>
          <div routerLinkActive="active" class="routes">
            <!-- <a mat-button  [routerLink]="'/home'">Home</a>
            <a mat-button  [routerLink]="'/home'">Mis Tareas</a> -->
            <!-- <a mat-button  [routerLink]="'/tipo-de-cambio'">Tipo de Cambio</a> -->
            <!-- <a mat-button  [routerLink]="'/customer'">Customers</a> -->
            
          </div>
          
        </mat-toolbar-row>
      </mat-toolbar>
  </div>
